@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --text: #050505;
    --background: #F2F0FA;
    --primary: #c2d6d4;
    --secondary: #e0ebeb;
    --accent: #679894;

    --h1: 48px;
    --h2: 32px;
    --subtitle: 24px;
    --p: 18px;
    --sub: 16px;
    --small: 14px;
}

.darkMode {
    --text: #fafafa;
    --background: #050505;
    --primary: #c2d6d4;
    --secondary: #141f1f;
    --accent: #89a2a1;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0.4em;
}

body::-webkit-scrollbar-track {
}

body::-webkit-scrollbar-thumb {
    background-color: var(--accent);
    outline: 1px solid slategrey;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--accent);
    outline: 1px solid slategrey;
}

body {
    background-color: var(--background);
    color: var(--text);
    transition: .7s;
}

/** {
    border: 2px solid red;
}*/

::selection {
    background-color: var(--primary);
}

/* ================================================== */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header .logo {
    font-size: var(--subtitle);
    color: var(--text);
    text-decoration: none;
    font-weight: 700;
    letter-spacing: -0.5px;
}

.header .logo > span {
    color: var(--primary);
}

.header .navbar a {
    position: relative;
    color: var(--text);
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: .3s;
    letter-spacing: -.5px;
    font-size: var(--sub);
    width: 100%;
    padding: 1em;
    border-radius: 6px;
}

.header .navbar a.active {
    color: var(--primary);
    font-weight: bold;
}

.header .navbar a:hover {
    font-weight: 600;
    transition: 0s;
}

.header .navbar a.active::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: .1rem;
    background: var(--accent);
}

#menuIcon {
    display: none;
}

.header .options i:nth-child(2) {
    margin-left: 20px;
}

.header .options i:hover {
    color: var(--primary);
}

@media (max-width: 995px) {
    .navbar .options {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }

    #menuIcon {
        display: block;
    }

    #darkModeIcon {
        position: absolute;
        color: var(--text);
        margin-bottom: .1rem;
    }

    .header .options i:nth-child(2) {
        margin-left: 40px;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--background);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: var(--sub);
        margin: 3rem 0;
        color: var(--text);
        padding: 0 !important;
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--text);
    }

    .navbar a.active {
        color: var(--primary);
        font-weight: bold;
    }

    .navbar a::before {
        display: none;
    }

}

.header.sticky {
    background: var(--background);
    /*box-shadow: 0 2px 80px -25px var(--primary);*/
}

.home .opp-bg {
    background: var(--background) !important;
}

/*.header.sticky .navbar a::before {
    background: var(--background);
    opacity: .7;
}*/

/* ================================================== */

.home-section {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10% 90px;
}

.home-section .container {
    max-width: 650px;
}

@media (max-width: 995px) {
    .home-section .container {
        padding-top: 90px;
    }
}

.home-section .container h1 {
    font-size: var(--h1);
    line-height: 50px;
    font-weight: 700;
}

.home-section .container h1 > span {
    color: var(--primary);
}

.home-section .container h5 {
    font-size: var(--subtitle);
    padding-top: 15px;
    font-weight: 600;
    color: #A4B8B6;
}

.home-section .container p {
    padding-top: 15px;
    font-size: var(--p);
    letter-spacing: normal;
    line-height: 150%;
}

/*@media (min-width: 775px) {
    .custom-shape-divider-bottom-1688767042 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1688767042 svg {
        position: relative;
        display: block;
        width: calc(100% + 1px);
        height: 92px;
    }

    .custom-shape-divider-bottom-1688767042 .shape-fill {
        fill: var(--secondary);
    }
}

@media (max-width: 995px) {
    .custom-shape-divider-bottom-1688767042 {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }

    .custom-shape-divider-bottom-1688767042 .shape-fill {
        fill: var(--secondary);
    }
}*/

/* ================================================== */

.skills-section {
    background-color: var(--secondary);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    gap: 6em;
    justify-content: space-between;
    padding: 3em 5em;
    margin: 0 10%;
}

.skills-section h2 {
    letter-spacing: -2px;
    font-weight: 600;
    margin: 0;
    font-size: var(--h2);
}

.skills-section .section-1 {
    width: 30%;
}

.skills-section .section-2 {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    grid-column-gap: 9em;
    grid-row-gap: 1.2em;
    flex-direction: row;
}

.skills-section .section-1 p {
    font-size: var(--p);
    letter-spacing: normal;
    line-height: 150%;
    color: var(--text);
}

.skills-section .section-2 .number-count {
    font-size: var(--subtitle);
    font-weight: 800;
    color: var(--accent);
}

.skills-section .section-2 .skill {
    font-size: var(--p);
    letter-spacing: normal;
    line-height: 150%;
    color: var(--text);
}

.skills-section .section-2 .since-date {
    font-size: var(--sub);
    font-weight: 300;
    letter-spacing: normal;
    line-height: 150%;
    color: var(--text);
}

@media (max-width: 995px) {
    .skills-section {
        background-color: var(--secondary);
        border-radius: 6px;
        padding: 3em 5em;
        display: flex;
        flex-direction: row;
        gap: 6em;
        justify-content: space-between;
        margin: 40px 5% 0;
    }
}

@media (max-width: 683px) {
    .skills-section {
        background-color: var(--secondary);
        border-radius: 6px;
        padding: 3em 5em;
        display: flex;
        flex-direction: column;
        gap: 2em;
        text-align: center;
    }

    .skills-section .section-1 {
        width: 100%;
    }

    .skills-section .section-2 {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        grid-row-gap: 1em;
        flex-direction: row;
    }

}

/* ================================================== */

.projects-section {
    padding: 5rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 2em;
}

.projects-section .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects-section .heading h2 {
    display: flex;
    justify-content: center;
    letter-spacing: -2px;
    font-weight: 600;
    margin: 0;
    font-size: var(--h2);
}

.projects-section .heading p {
    display: flex;
    justify-content: center;
    font-size: var(--p);
    letter-spacing: normal;
    line-height: 150%;
    color: var(--text);
    margin-block-start: 1rem;
    margin-block-end: 2rem;
}

.projects-section .cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 100%;
}

.projects-section .cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    padding: 3em 3em 3em 3em;
    position: relative;
    gap: 1.5em;
}

.projects-section .cards .card .bg {
    background-color: var(--secondary);
    opacity: 35%;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    z-index: -5;
    top: 0;
    left: 0;
}

.projects-section .cards .card h3 {
    letter-spacing: -2px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    line-height: 30px;
    font-size: var(--h2);
}

.projects-section .cards .card p {
    font-size: var(--p);
    letter-spacing: normal;
    text-align: center;
    line-height: 150%;
    color: var(--text);
}

.projects-section .cards .card img {
    max-width: 80px;
    max-height: 80px;
}

.projects-section .cards .card .promo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects-section .cards .card .promo h4 {
    letter-spacing: normal;
    font-weight: 400;
    text-align: center;
    margin: 0;
    font-size: var(--sub);
}

.projects-section .cards .card .promo a {
    text-decoration: none;
}

.projects-section .cards .card .promo a p {
    letter-spacing: normal;
    font-weight: 300;
    margin: 0;
    font-size: var(--small);
}

.projects-section .cards .card .state p {
    font-weight: 200;
    font-size: var(--small);
}
.projects-section .cards .card .state.negative {
    padding: 2px 5px;
    background-color: #c6152a;
    color: white;
    z-index: 2;
    border-radius: 6px;
    display: inline-block;
    font-size: var(--sub);
    text-decoration: none;
    white-space: nowrap;
}

.projects-section .cards .card .promo a p:hover {
    font-weight: 500;
    color: var(--accent);
    transition: .5s;
}

.projects-section .cards .card .socials {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.projects-section .cards .card .socials i {
    color: var(--accent);
}

.projects-section .cards .card .visit-button {
    padding: 1em 2em;
    background-color: var(--primary);
    color: var(--text);
    z-index: 2;
    border-radius: 6px;
    display: inline-block;
    transition: transform ease 0.2s,
                box-shadow ease 0.2s;
    font-size: var(--sub);
    text-decoration: none;
    font-weight: 300;
    white-space: nowrap;
}

.projects-section .cards .card .visit-button:hover {
    box-shadow: 0 20px 80px -10px var(--primary);
    transform: translate(0, -7px);
}

@media (max-width: 961px) {
    .projects-section .cards {
        display: flex;
        grid-row-gap: 3rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    .projects-section .cards .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 3em 3em 3em 3em;
        position: relative;
        gap: 1.5em;
    }
}